.container{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .input{
        height: 40px;
        margin-bottom: 20px;
        padding: 0px 10px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        color: #333;
    }
    h1 {
        margin-bottom: 20px;
    }
    .button{
        display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        transition: box-shadow 0.15s ease,transform 0.15s ease;
        will-change: box-shadow,transform;
        background:  #64c7e5;
        box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
        height: 48px;
        padding: 0 32px;
        font-size: 18px;
        border-radius: 6px;
        color: #36395a;
        transition: box-shadow 0.15s ease,transform 0.15s ease;
        :hover {
            box-shadow: 0px 4px 8px rgba(3, 72, 86, 0.4), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
            transform: translateY(-2px);
        }
        :active{
            box-shadow: inset 0px 3px 7px #6c838b;
            transform: translateY(2px);
        }
       
    }
    .error{
        font-size: 15px;
        color: red;
        padding: 5px;
    }
}

