$orange: #db9865;
$red: #b01407;
$light:#fcfaf6;
.container{
    height: 30vh;
    //width: auto;
    padding: 15rem 5rem;
    display: flex;
    background-color: $light;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    
    .heroContent{
        display: flex;
        flex-direction: column;
        padding: 20px 0 0 30px;
        align-items: center;
    }
    p{
        padding-top: 15px;
    }
    span {
        color: rgb(31, 28, 28);
        font-size: 2rem;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    button{
        display: inline-block;
        outline: 0;
        text-align: center;
        cursor: pointer;
        padding: 5px 30px;
        border: 0;
        color: #fff;
        font-size: 15.5px;
        border: 1px solid transparent;
        border-radius: 10px;
        border-color: $red;
        color: $red;
        background: transparent;
        font-weight: 400;
        line-height: 30px;
        transition: $red, color .1s ease-in-out;
        
        &:hover {
            background-color: #434343;
            color: rgb(255, 255, 255);
        }
        
    }
}