.container{
    height: calc(100vh - 100px);
    display: flex;

    .left{
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right{
        flex: 1;
        padding: 60px 0 0 ;
    }
    .title{
        padding: 20px;
    }
    .imgContainer{
        width: 80%;
        height: 80%;
        position: relative;
    }
    .price{
        color: #f46f06;
        font-size: 25px;
        font-weight: 500;
        padding: 20px;
       
    }
   .desc{
    padding: 20px;
   }
    .sizes, .choose{
        width: 40%;
        display: flex;
        padding:  30px 0 0 20px;
        justify-content: space-between;
    }
    .size{
        width: 35px;
        height: 35px;
        position: relative;
        cursor: pointer;
    }
    .size:nth-child(2){
        width: 45px;
        height: 45px;
    }
    .size:last-child{
        width: 55px;
        height: 55px;
    }
    .sizeChoose{
        position: absolute;
        top: -5px;
        right: -20px;
        background-color: #6EC5B8;
        color: #fff;
        font-size: 12px;
        padding: 0 5px;
        border-radius: 10px;
    }
    .ingredients{
        display: flex;
        margin-bottom: 30px;
    }
    .option{
        padding: 20px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        font-size: 15px;
        font-weight: 500;
        column-gap: 10px;
    }
    .checkbox{
        width: 20px;
        height: 20px;
       
    }
    .add{
        padding: 20px;
    }
    .quantity{
        
        width: 50px;
        height: 50px;
    }
    .button{
        width:100px;
        height: 50px;
        margin-left: 10px;
        background-color: gold;
        border: 2px solid firebrick;
        border-radius: 10px;
        font-weight: bold;
        color: black;
        cursor: pointer;
        
        &:hover {
            background-color: bisque;
          }
    }
}
