.container{

    padding-bottom: 2rem;
  

     hr{
        width:25%;
        margin: auto;
        margin-top: 2rem;
    }
    .title{
        text-align: center;
        padding-top: 10px;
    }
    .icons{
        display: flex;
        text-align: center;
        justify-content: center;
        justify-content: space-evenly;
    }   
   
}